body {
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #7293a0;
  /* background-image: url("Background.png"); 
  background-repeat: no-repeat;
  background-size: cover; */
}
h1 {
  margin: 10px auto;
  padding-top: 3px;
  color: rgb(1, 10, 19);
  width: 40%;
  height: 6rem;
  background: #d8ddef;
  border: 3px solid black;
  box-shadow: 4px 4px 10px;
  margin-bottom: 30px;
  animation-name: color_change;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
h2 {
  font-size: 25px;
}

html,
body,
* {
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  padding: 28px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  width: 35.4rem;
  height: 23.4rem;
  background: #d8ddef;
  border: 3px solid black;
  box-shadow: 5px 5px 15px;
  border-radius: 20px;
  margin-bottom: 30px;

}
.image:hover {
  transform: scale(1.07);
  transition: all 0.4s ease-in-out;
}
.exo:hover {
 
  transform: scale(1);
  transition: margin 0.4s ease-in-out;
  margin-top: -25;
}
.prov:hover {
transform: rotate(360deg);
transition: transform 0.5s ease-in-out;
}
.yharon:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    transform: scale(1)
}
@keyframes swing {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.lev:hover {
  transform: rotate(2deg);
  transition: transform 0.6s ease-in-out;  
}



@keyframes color_change {
	from { background-color: rgb(42, 190, 183); }
	to { background-color: rgb(99, 178, 214); }
}

.column-image {
  width: 54%;
  height: 28vh;
}


.image-signus {
  width: 35%;
  height: 28vh;
}
.image-scal {
  width: 35%;
  height: 28vh;
}
.image-polterghast {
  width: 65%;
  height: 28vh;
}
.image-leviathan {
  width: 70%;
  height: 28vh;
}

@media screen and (max-width:1350px) {
  h1 {
    font-size: 33px;
  }
  image {
   width: 40%;
  }

  @media screen and (max-width:700px) {
    h1 {
      font-size: 30px;
    }
  column-image {
    height: 28vh; 
  }
  }

  