body {
  font-size: 25px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("https://i.imgur.com/Z98EQ6U.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  margin: 10px auto;
  color: rgb(1, 10, 19);
  width: 40%;
  background: rgb(255, 255, 255);
  border: 3px solid black;
  box-shadow: 2px 2px;
}
html,
body,
* {
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}
.row2 {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}
.row3 {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.image {
  padding: 25px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 90%;
  background: rgb(255, 255, 255);
  border: 3px solid black;
  box-shadow: 3px 3px;
  border-radius: 20px;
}
